<head>

  <script src="/head.min.js"> </script>
  <script src="/d3.v3.js"> </script>
  <script type="text/javascript">
  head.js("/jquery-min.js", "/jquery.console.js", "/tree.js", "/d3.v3.js", "/pictures.js", function() {
 
   //console.log(this);
 
  });
  </script>

   
  



</head>

<body>

  <section id="add">
    <div id="console" class="console"></div>
  </section>

  <div id="viz"></div>

  <script>

  // var vis = d3.select("#viz").append("svg:svg")
  //               .attr("width", 400)
  //               .attr("height", 300)
  //               .append("svg:g")
  //               .attr("transform", "translate(40, 0)");

  // var div = d3.select("body").append("div")
  //               .attr("class", "tooltip")
  //               .style("opacity", 1e-6);

//   var width = 400,
//     height = 300;

// var tree = d3.layout.tree()
//     .size([width - 20, height - 20]);

// var root = {},
//     nodes = tree(root);

// root.parent = root;
// root.px = root.x;
// root.py = root.y;

// var diagonal = d3.svg.diagonal();

// var svg = d3.select("body").append("svg")
//     .attr("width", width)
//     .attr("height", height)
//   .append("g")
//     .attr("transform", "translate(10,10)");

// var node = svg.selectAll(".node"),
//     link = svg.selectAll(".link");


  </script>




  

</body>



