<!doctype html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title><%= 'visual schemer' %></title>
    <link href="/reset.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href= "/">Visual Schemer</a></h1>
      <h2></h2>
    <hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><smsall>Scheme interpreter written in Ruby. https://github.com/bebebebebe/scheme.rb </small></p>
  </footer>
</body>
</html>