
<head>

  <script src="/head.min.js"> </script>
  <script type="text/javascript">
  head.js("/jquery-min.js", "/jquery.console.js", "/tree.js", function() {
 
   // all done
 
});
</script>


</head>

<body>
<section id="add">
  <div id="console" class="console">

  </div>
<!--   <form action="/form" method="post">
    <textarea name="message" placeholder="scheme expression..."></textarea>
    <input type="submit" value="Evaluate!" >
  </form> -->
</section>

<ul>
<% @inputs.each do  |input| %>
  <li>
    <%= input %>
  </li>
<% end %>
  <li>
    <%= GRAPH %>
  </li>
</ul>










</body>



